body {
  background-image: url("../css_images/gradient-mountain-landscape_23-2149162009.avif");
  background-repeat: no-repeat;
  background-size: cover;
}
h1{

  font-family: "Lucida Console", "Courier New", monospace;
}